<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JLSCircuitTester</title>
  <style>
    <%= $d.general.site_css %>

      #content {
        padding-right: 100px;
      }
  </style>
  <base href="..">
</head>

<body>
<%= $k.render('nav.html.erb') %>
<main id="content">
  <h1>Nifty Assignments</h1>
  <p>
    These Nifty Assignments web pages do not conform to current disability standards; therefore, GVSU will not let me
    place them on external-facing web pages.
  </p>

  <p>If you email me, I will happily provide you private access.</p>


  <hr>
  <%= $k.data.general.footer %>
</main>
</body>
</html>
